* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}
:root {
    --panel:#101F31;
    --panel-dark:#14283D;
    
    --gold:#E8C066;
    --gold-light:#F9D98C;
    --gold-dark:#C9963A;
    
    --cyan:#3FA8A4;
    --cyan-dark:#1E5B61;
    
    --green:#6D7745;
    --green-dark:#404B2A;
    
    --bird:#F3C65D;
    --bird-wing:#F7E5C4;
    --beak:#D65A35;
    
    --border:#6E7D68;
    
}
button{
    font-family: "Press Start 2P", system-ui;
}

/* FRONT STARTING PAGE OF GAME */

main{
    background-image: url(./desktop-back.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.start-head-text{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: var(--gold-light);
}
.start-head-text span {
    color: var(--gold-dark);
}
#flappy-bird-start{
    height: 300px;
}
.start-control{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
#start-play-button{
    border-radius: 1px;
    border: 4px solid var(--gold-dark);
    color: var(--gold-light);
    background-color: var(--cyan-dark);
    font-size: 30px;
    font-weight: 700;

    padding: 10px 20px ;

}
#start-set-button{
    border-radius: 1px;
    border: 4px solid var(--gold-dark);
    color: var(--gold-light) ;
    background-color: var(--cyan-dark);
    clip-path: polygon(
        (10px, 0)
    );
    font-size: 18px;
    padding: 10px 20px;
}

/* GAME INTERFACE MAKING  */

section{
    background-image: url(./gameplay-back.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}
#bird-play-img{
    height: 100px;
    position: absolute;
    top: 350px;

}
.all-pipes{
    width: 100%;
    position: relative;
}

.lower-pipes{
    height: 100px;
    bottom: 0px;
}
.pipe{
    position: absolute;
    width: 85px;
}
.upper-pipes{
    display: flex;
    flex-direction: column-reverse;
}
.cap-of-up{
    background-image: url(./capForUP.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 150px;
}
.tunnel-body-img{
    background-image: url(./tunnelLength.png);
    height: 100%;
    width: 100%;
    background-size: 100%;
}